<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arun.museefy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Museefy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NowPlaying"
            android:label="Museefy - Now Playing"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".myMusicActivity"
            android:label="Museefy - My Music" />
        <activity
            android:name=".discoverActivity"
            android:label="Museefy - Discover" />
        <activity
            android:name=".buyMusicActivity"
            android:label="Museefy - Buy Music" />

    </application>

</manifest>